.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  
  
}
body,html{
  margin: 0px;
  padding: 0px;
  height: 100%;
  background: url(img/pexels-alem-sánchez-612790.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
}

p{
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Playfair Display', serif;
  color:white;

}
  
.left-side{
  display: flex;
  align-items: center;
  margin-left: 4px;
}
.im{
  width: 50px;
  transition:opacity 0.4s;
}
.icon{
  width:100%;
}
.im:hover{
  opacity: 0.5;
   transition:opacity 0.2s;
}
.left-side p{
  font-size:25px;
  font-weight: 900;
  color: white;
  margin-left: 3px;
}

.right-side{
  display: flex;
  align-items: center;
}
.right-side p{
  margin-left: 16px;
  cursor: pointer;
}
.right-side p:hover{
  font-weight: bold;
  opacity: all 0.2s;
  

}
.phone{
  width: 20Px;
  margin-left: 70px;
  margin-right: 0px;
}
.right{
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.right p{
  margin-left: 1px;
}
.main{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.des{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.des p{
  color: rgb(169, 39, 39);
  text-align: center;
  line-height: 30px;
  width: 550px;
  margin-top: 0px;
  font-size: 16px;
}
h2,h3 {
  color: white;
  text-transform: uppercase;
  font-size: 75Px;
  
}
h2{
  margin-bottom: 0px;
}
h3{
  margin-top: 0px;
  margin-bottom: 30px;
}
.title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.des button{
  font-family: 'Playfair Display', serif;
  background-color: brown;
  padding: 10px 15px;
  color: white;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
  transition: all 0.2s;
}
.des button:hover{
  opacity: 0.9;
  padding:10px 17px ;
  transition: all 0.2s;
}